/* DropdownButton.css */

.dropdown-toggle {
  background-color: #e7eaf0;
  color: rgb(11, 1, 1);
  border: none;
  padding: 10px;
  width: 12vw;
  cursor: pointer;
  font-size: 5vw;
}

.dropdown-container {
    position: relative;
    display: inline-block;
  }

.popover-content {
    position: absolute;
    top: calc(100% + 5px); /* Adjust vertical position */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    /* width: auto; */
    max-width: 20vw;
  }
  
.dropdown-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    width: 12vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    margin-left: 8px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    padding: 10px;
    display: none;
  }
  
  .dropdown-container:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content p {
    margin: 0;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dropdown-content p:hover {
    background-color: #ddd;
  }
  